<h2>Upload Excel<span class="badge badge-secondary">Excel File</span></h2>
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
    </div>
      <div class="custom-file">
        <input type="file" 
        class="custom-file-input" 
        id="file" 
        (change)="onFileChange($event)" multiple="false">
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
    </div>
  </div>

  <table class="table">
    <thead class="thead-dark" *ngIf="showTableHeader">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">LastName</th>
        <th scope="col">Number</th>
        <th scope="col">Department</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees" scope="row">
          <td>{{ employee.iD  }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.lastName }}</td>
          <td>{{ employee.number }}</td>
          <td>{{ employee.department }}</td>
           <!-- <td *ngFor="let cell of employee">
               {{ cell }}
           </td> -->
        </tr>
    </tbody>
</table>

<button type="button" (click)="saveEmployees()"  [disabled]="!showTableHeader" class="btn btn-dark">Save Employees</button>

